@import url(https://fonts.googleapis.com/css?family=Unbounded:200,300,regular,500,600&display=swap);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Unbounded";
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Unbounded";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #080921;
  font-weight: 400;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 82rem;
  margin: 0 auto;
  padding: 0 1rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  display: block;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: transparent;
  outline: none;
  color: #fff;
  font-size: 14px;
  padding: 0 15px;
}

.input._form-error {
  border: 1px solid #FF323A;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

._button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.join__button {
  border-radius: 100px;
  border: 1px solid #FFF;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

.join__button::after {
  content: "";
  display: block;
  background: url("../img/icons/arrow-link.svg") right no-repeat;
  background-size: 100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 20px;
}

._user-content h1,
._user-content h2,
._user-content h3,
._user-content h4,
._user-content h5,
._user-content h6 {
  font-weight: 500;
}

._user-content p {
  color: rgba(255, 255, 255, 0.6);
  line-height: 120%;
  font-weight: 300;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.header__logo img {
  height: auto;
}

.footer {
  padding-top: 25px;
  border-top: 1px solid #FFF;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  row-gap: 20px;
  margin-bottom: 30px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}

.footer__copy {
  font-size: 12px;
}

.start {
  height: 100vh;
  min-height: 375px;
  width: 100%;
  position: relative;
}

.start > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.start__content {
  position: relative;
  z-index: 2;
  height: 100vh;
  min-height: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

.start__logo {
  max-width: 100%;
}

.start__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 795px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(11.5px);
          backdrop-filter: blur(11.5px);
  min-height: 40px;
  padding-right: 11px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 50px;
  overflow: hidden;
}

.start__button::before {
  content: "";
  display: block;
  background: url("../img/start/start-text.svg") left no-repeat;
  background-size: 100%;
}

.start__button-arrow {
  display: block;
  position: relative;
  border-radius: 50%;
  background-color: #000;
  margin-left: auto;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.start__button-arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../img/icons/arrow-next.svg") center no-repeat;
  background-size: 100%;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.create-account {
  margin-bottom: 100px;
}

.create-account__body {
  background: #171830;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 36px;
  overflow: hidden;
}

.create-account__form {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.create-account__title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 14px;
}

.create-account__subtitle {
  font-weight: 300;
  margin-bottom: 17px;
  line-height: 130%;
}

.create-account__input {
  position: relative;
  text-align: left;
}

.create-account__input .form__error {
  position: absolute;
  color: #FF323A;
  text-align: right;
  font-size: 12px;
  font-weight: 300;
  right: 0;
  top: 100%;
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
}

.create-account__row {
  position: relative;
}

.create-account__label {
  margin-bottom: 6px;
  font-weight: 300;
  display: block;
}

.create-account__new-password {
  color: rgba(255, 255, 255, 0.15);
  font-size: 12px;
  font-weight: 300;
  display: inline-block;
  margin-top: 6px;
}

.create-account__viewpass {
  position: absolute;
  right: 0px;
  top: 50%;
  padding: 8px 13px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
}

.create-account__viewpass::before {
  content: "";
  display: block;
  background: url("../img/icons/show-password.svg") center no-repeat;
  width: 20px;
  height: 18px;
}

.create-account__viewpass._viewpass-active {
  background: url("../img/icons/hide-password.svg") center no-repeat;
}

.create-account__submit {
  border-radius: 100px;
  border: 1px solid #FF323A;
  background: #FF323A;
  width: 100%;
  font-weight: 300;
}

.create-account__lead {
  font-weight: 300;
}

.create-account__lead a {
  text-decoration: underline;
}

.create-account__perview {
  background: #FFC5B8;
}

.perview-create-account {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.perview-create-account > img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.perview-create-account__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  position: relative;
  z-index: 2;
  margin: 24px;
}

.perview-create-account__head p {
  font-size: 16px;
  text-transform: uppercase;
  max-width: 100px;
  line-height: 130%;
}

.perview-create-account__head::after {
  content: "";
  display: block;
  background: url("../img/icons/decor.svg") right no-repeat;
  min-width: 105px;
  height: 42px;
  margin-left: auto;
}

.perview-create-account__footer {
  position: relative;
  z-index: 2;
  margin-bottom: 40px;
  margin-left: 34px;
}

.perview-create-account__footer > span {
  display: block;
  background: url("../img/icons/plus.svg") left no-repeat;
  width: 40px;
  height: 40px;
  margin-bottom: 7px;
}

.perview-create-account__footer p {
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(11.5px);
          backdrop-filter: blur(11.5px);
  text-transform: uppercase;
  padding: 11px 16px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  max-width: 265px;
  line-height: 120%;
}

.perview-create-account__footer p span {
  color: #FF323A;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.policy__title {
  font-weight: 500;
  margin-bottom: 12px;
}

.policy__subtitle {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}

@media (min-width: 47.99875em) {
  .create-account__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 333px;
    grid-template-columns: auto 333px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    max-width: 782px;
    min-height: 525px;
  }
}

@media (min-width: 61.99875em) {
  .join__button:hover {
    background-color: #FF323A;
    border: 1px solid #FF323A;
  }

  .menu__list a:hover {
    color: #FF323A;
  }

  .footer__policy:hover {
    text-decoration: underline;
  }

  .start {
    min-height: 475px;
  }

  .start__content {
    min-height: 475px;
  }

  .start__button-arrow:hover::before {
    -webkit-transform: translate(-30%, -50%);
        -ms-transform: translate(-30%, -50%);
            transform: translate(-30%, -50%);
  }

  .create-account__new-password:hover {
    text-decoration: underline;
  }

  .create-account__submit:hover {
    background-color: #cd262b;
  }

  .create-account__lead a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1200px) {
  ._hidden {
    overflow: hidden;
  }
}

@media (min-width: 82em) {
  .input {
    min-height: 2.5rem;
  }

  .join__button {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .join__button {
    min-height: 2.75rem;
  }

  .join__button {
    padding-left: 2.625rem;
  }

  .join__button {
    padding-right: 2.625rem;
  }

  .join__button {
    font-size: 1rem;
  }

  .join__button::after {
    min-width: 0.9375rem;
  }

  .join__button::after {
    height: 0.9375rem;
  }

  .menu__list {
    -webkit-column-gap: 4.1875rem;
       -moz-column-gap: 4.1875rem;
            column-gap: 4.1875rem;
  }

  .menu__list a {
    font-size: 1rem;
  }

  ._user-content h1 {
    font-size: 2.5rem;
  }

  ._user-content h2 {
    font-size: 2.125rem;
  }

  ._user-content h3 {
    font-size: 1.75rem;
  }

  ._user-content h4 {
    font-size: 1.5rem;
  }

  ._user-content h5 {
    font-size: 1.375rem;
  }

  ._user-content h6 {
    font-size: 1.25rem;
  }

  ._user-content h1,
  ._user-content h2,
  ._user-content h3,
  ._user-content h4,
  ._user-content h5,
  ._user-content h6 {
    margin-top: 2.875rem;
  }

  ._user-content p {
    font-size: 1rem;
  }

  ._user-content p {
    margin-top: 0.9375rem;
  }

  .header {
    padding-top: 2.5rem;
  }

  .header {
    padding-bottom: 2.5rem;
  }

  .header__container {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }

  .header__logo img {
    width: 7.9375rem;
  }

  .footer {
    padding-bottom: 2.5rem;
  }

  .footer__policy {
    font-size: 1rem;
  }

  .start__content {
    padding-bottom: 5.875rem;
  }

  .start__content {
    padding-top: 3.5625rem;
  }

  .start__button {
    padding-left: 4.1875rem;
  }

  .start__button::before {
    width: 11.5625rem;
  }

  .start__button::before {
    height: 1.1875rem;
  }

  .start__button-arrow {
    width: 5.3125rem;
  }

  .start__button-arrow {
    height: 5.3125rem;
  }

  .start__button-arrow::before {
    width: 1.875rem;
  }

  .start__button-arrow::before {
    height: 1.875rem;
  }

  .create-account__body {
    border-radius: 1.5rem;
  }

  .create-account__form {
    padding-top: 3.5625rem;
  }

  .create-account__form {
    padding-bottom: 3.5625rem;
  }

  .create-account__form {
    padding-left: 3.5625rem;
  }

  .create-account__form {
    padding-right: 3.5625rem;
  }

  .create-account__subtitle {
    font-size: 0.875rem;
  }

  .create-account__input {
    margin-bottom: 1.375rem;
  }

  .create-account__label {
    font-size: 0.875rem;
  }

  .create-account__submit {
    min-height: 2.5rem;
  }

  .create-account__submit {
    font-size: 0.875rem;
  }

  .create-account__submit {
    margin-bottom: 1.375rem;
  }

  .create-account__lead {
    font-size: 0.875rem;
  }

  .policy {
    margin-top: 3rem;
  }

  .policy {
    margin-bottom: 7.125rem;
  }

  .policy__title {
    font-size: 2.625rem;
  }

  .policy__subtitle {
    font-size: 1rem;
  }
}

@media (max-width: 850px) {
  .header__menu {
    display: none;
  }
}

@media (max-width: 20em) {
  .input {
    min-height: 2.1875rem;
  }

  .join__button {
    -webkit-column-gap: 0.3125rem;
       -moz-column-gap: 0.3125rem;
            column-gap: 0.3125rem;
  }

  .join__button {
    min-height: 1.8125rem;
  }

  .join__button {
    padding-left: 1.625rem;
  }

  .join__button {
    padding-right: 1.625rem;
  }

  .join__button {
    font-size: 0.75rem;
  }

  .join__button::after {
    min-width: 0.625rem;
  }

  .join__button::after {
    height: 0.625rem;
  }

  .menu__list {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .menu__list a {
    font-size: 0.75rem;
  }

  ._user-content h1 {
    font-size: 2.25rem;
  }

  ._user-content h2 {
    font-size: 1.875rem;
  }

  ._user-content h3 {
    font-size: 1.5rem;
  }

  ._user-content h4 {
    font-size: 1.25rem;
  }

  ._user-content h5 {
    font-size: 1.125rem;
  }

  ._user-content h6 {
    font-size: 1rem;
  }

  ._user-content h1,
  ._user-content h2,
  ._user-content h3,
  ._user-content h4,
  ._user-content h5,
  ._user-content h6 {
    margin-top: 2rem;
  }

  ._user-content p {
    font-size: 0.875rem;
  }

  ._user-content p {
    margin-top: 0.75rem;
  }

  .header {
    padding-top: 1.25rem;
  }

  .header {
    padding-bottom: 1.25rem;
  }

  .header__container {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .header__logo img {
    width: 6.5rem;
  }

  .footer {
    padding-bottom: 0.9375rem;
  }

  .footer__policy {
    font-size: 0.75rem;
  }

  .start__content {
    padding-bottom: 1.875rem;
  }

  .start__content {
    padding-top: 1.875rem;
  }

  .start__button {
    padding-left: 0.6875rem;
  }

  .start__button::before {
    width: 8.125rem;
  }

  .start__button::before {
    height: 0.9375rem;
  }

  .start__button-arrow {
    width: 3.125rem;
  }

  .start__button-arrow {
    height: 3.125rem;
  }

  .start__button-arrow::before {
    width: 0.9375rem;
  }

  .start__button-arrow::before {
    height: 0.9375rem;
  }

  .create-account__body {
    border-radius: 0.875rem;
  }

  .create-account__form {
    padding-top: 2.1875rem;
  }

  .create-account__form {
    padding-bottom: 2.1875rem;
  }

  .create-account__form {
    padding-left: 1.5rem;
  }

  .create-account__form {
    padding-right: 1.5rem;
  }

  .create-account__subtitle {
    font-size: 0.75rem;
  }

  .create-account__input {
    margin-bottom: 1.125rem;
  }

  .create-account__label {
    font-size: 0.75rem;
  }

  .create-account__submit {
    min-height: 2.1875rem;
  }

  .create-account__submit {
    font-size: 0.75rem;
  }

  .create-account__submit {
    margin-bottom: 0.9375rem;
  }

  .create-account__lead {
    font-size: 0.75rem;
  }

  .policy {
    margin-top: 1.25rem;
  }

  .policy {
    margin-bottom: 3.75rem;
  }

  .policy__title {
    font-size: 2rem;
  }

  .policy__subtitle {
    font-size: 0.75rem;
  }
}

@media (max-width: 47.99875em) {
  .footer__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .perview-create-account {
    display: none;
  }
}

@media (min-width: 20em) and (max-width: 82em) {
@supports (min-height: clamp( 2.1875rem , 2.0866935484rem  +  0.5040322581vw , 2.5rem )) {
    .input {
      min-height: clamp( 2.1875rem , 2.0866935484rem  +  0.5040322581vw , 2.5rem );
    }
}

@supports not (min-height: clamp( 2.1875rem , 2.0866935484rem  +  0.5040322581vw , 2.5rem )) {
    .input {
      min-height: calc(2.1875rem + 0.3125 * (100vw - 20rem) / 62);
    }
}

@supports ((-moz-column-gap: clamp( 0.3125rem , 0.1108870968rem  +  1.0080645161vw , 0.9375rem )) or (column-gap: clamp( 0.3125rem , 0.1108870968rem  +  1.0080645161vw , 0.9375rem ))) {
    .join__button {
      -webkit-column-gap: clamp( 0.3125rem , 0.1108870968rem  +  1.0080645161vw , 0.9375rem );
         -moz-column-gap: clamp( 0.3125rem , 0.1108870968rem  +  1.0080645161vw , 0.9375rem );
              column-gap: clamp( 0.3125rem , 0.1108870968rem  +  1.0080645161vw , 0.9375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.3125rem , 0.1108870968rem  +  1.0080645161vw , 0.9375rem )) or (column-gap: clamp( 0.3125rem , 0.1108870968rem  +  1.0080645161vw , 0.9375rem ))) {
    .join__button {
      -webkit-column-gap: calc(0.3125rem + 0.625 * (100vw - 20rem) / 62);
         -moz-column-gap: calc(0.3125rem + 0.625 * (100vw - 20rem) / 62);
              column-gap: calc(0.3125rem + 0.625 * (100vw - 20rem) / 62);
    }
}

@supports (min-height: clamp( 1.8125rem , 1.5100806452rem  +  1.5120967742vw , 2.75rem )) {
    .join__button {
      min-height: clamp( 1.8125rem , 1.5100806452rem  +  1.5120967742vw , 2.75rem );
    }
}

@supports not (min-height: clamp( 1.8125rem , 1.5100806452rem  +  1.5120967742vw , 2.75rem )) {
    .join__button {
      min-height: calc(1.8125rem + 0.9375 * (100vw - 20rem) / 62);
    }
}

@supports (padding-left: clamp( 1.625rem , 1.3024193548rem  +  1.6129032258vw , 2.625rem )) {
    .join__button {
      padding-left: clamp( 1.625rem , 1.3024193548rem  +  1.6129032258vw , 2.625rem );
    }
}

@supports not (padding-left: clamp( 1.625rem , 1.3024193548rem  +  1.6129032258vw , 2.625rem )) {
    .join__button {
      padding-left: calc(1.625rem + 1 * (100vw - 20rem) / 62);
    }
}

@supports (padding-right: clamp( 1.625rem , 1.3024193548rem  +  1.6129032258vw , 2.625rem )) {
    .join__button {
      padding-right: clamp( 1.625rem , 1.3024193548rem  +  1.6129032258vw , 2.625rem );
    }
}

@supports not (padding-right: clamp( 1.625rem , 1.3024193548rem  +  1.6129032258vw , 2.625rem )) {
    .join__button {
      padding-right: calc(1.625rem + 1 * (100vw - 20rem) / 62);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6693548387rem  +  0.4032258065vw , 1rem )) {
    .join__button {
      font-size: clamp( 0.75rem , 0.6693548387rem  +  0.4032258065vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6693548387rem  +  0.4032258065vw , 1rem )) {
    .join__button {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 62);
    }
}

@supports (min-width: clamp( 0.625rem , 0.5241935484rem  +  0.5040322581vw , 0.9375rem )) {
    .join__button::after {
      min-width: clamp( 0.625rem , 0.5241935484rem  +  0.5040322581vw , 0.9375rem );
    }
}

@supports not (min-width: clamp( 0.625rem , 0.5241935484rem  +  0.5040322581vw , 0.9375rem )) {
    .join__button::after {
      min-width: calc(0.625rem + 0.3125 * (100vw - 20rem) / 62);
    }
}

@supports (height: clamp( 0.625rem , 0.5241935484rem  +  0.5040322581vw , 0.9375rem )) {
    .join__button::after {
      height: clamp( 0.625rem , 0.5241935484rem  +  0.5040322581vw , 0.9375rem );
    }
}

@supports not (height: clamp( 0.625rem , 0.5241935484rem  +  0.5040322581vw , 0.9375rem )) {
    .join__button::after {
      height: calc(0.625rem + 0.3125 * (100vw - 20rem) / 62);
    }
}

@supports ((-moz-column-gap: clamp( 1.875rem , 1.1290322581rem  +  3.7298387097vw , 4.1875rem )) or (column-gap: clamp( 1.875rem , 1.1290322581rem  +  3.7298387097vw , 4.1875rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.875rem , 1.1290322581rem  +  3.7298387097vw , 4.1875rem );
         -moz-column-gap: clamp( 1.875rem , 1.1290322581rem  +  3.7298387097vw , 4.1875rem );
              column-gap: clamp( 1.875rem , 1.1290322581rem  +  3.7298387097vw , 4.1875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , 1.1290322581rem  +  3.7298387097vw , 4.1875rem )) or (column-gap: clamp( 1.875rem , 1.1290322581rem  +  3.7298387097vw , 4.1875rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.875rem + 2.3125 * (100vw - 20rem) / 62);
         -moz-column-gap: calc(1.875rem + 2.3125 * (100vw - 20rem) / 62);
              column-gap: calc(1.875rem + 2.3125 * (100vw - 20rem) / 62);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6693548387rem  +  0.4032258065vw , 1rem )) {
    .menu__list a {
      font-size: clamp( 0.75rem , 0.6693548387rem  +  0.4032258065vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6693548387rem  +  0.4032258065vw , 1rem )) {
    .menu__list a {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 62);
    }
}

@supports (font-size: clamp( 2.25rem , 2.1693548387rem  +  0.4032258065vw , 2.5rem )) {
    ._user-content h1 {
      font-size: clamp( 2.25rem , 2.1693548387rem  +  0.4032258065vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 2.1693548387rem  +  0.4032258065vw , 2.5rem )) {
    ._user-content h1 {
      font-size: calc(2.25rem + 0.25 * (100vw - 20rem) / 62);
    }
}

@supports (font-size: clamp( 1.875rem , 1.7943548387rem  +  0.4032258065vw , 2.125rem )) {
    ._user-content h2 {
      font-size: clamp( 1.875rem , 1.7943548387rem  +  0.4032258065vw , 2.125rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.7943548387rem  +  0.4032258065vw , 2.125rem )) {
    ._user-content h2 {
      font-size: calc(1.875rem + 0.25 * (100vw - 20rem) / 62);
    }
}

@supports (font-size: clamp( 1.5rem , 1.4193548387rem  +  0.4032258065vw , 1.75rem )) {
    ._user-content h3 {
      font-size: clamp( 1.5rem , 1.4193548387rem  +  0.4032258065vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.4193548387rem  +  0.4032258065vw , 1.75rem )) {
    ._user-content h3 {
      font-size: calc(1.5rem + 0.25 * (100vw - 20rem) / 62);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1693548387rem  +  0.4032258065vw , 1.5rem )) {
    ._user-content h4 {
      font-size: clamp( 1.25rem , 1.1693548387rem  +  0.4032258065vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1693548387rem  +  0.4032258065vw , 1.5rem )) {
    ._user-content h4 {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 62);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0443548387rem  +  0.4032258065vw , 1.375rem )) {
    ._user-content h5 {
      font-size: clamp( 1.125rem , 1.0443548387rem  +  0.4032258065vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0443548387rem  +  0.4032258065vw , 1.375rem )) {
    ._user-content h5 {
      font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 62);
    }
}

@supports (font-size: clamp( 1rem , 0.9193548387rem  +  0.4032258065vw , 1.25rem )) {
    ._user-content h6 {
      font-size: clamp( 1rem , 0.9193548387rem  +  0.4032258065vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9193548387rem  +  0.4032258065vw , 1.25rem )) {
    ._user-content h6 {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 62);
    }
}

@supports (margin-top: clamp( 2rem , 1.7177419355rem  +  1.4112903226vw , 2.875rem )) {
    ._user-content h1,
    ._user-content h2,
    ._user-content h3,
    ._user-content h4,
    ._user-content h5,
    ._user-content h6 {
      margin-top: clamp( 2rem , 1.7177419355rem  +  1.4112903226vw , 2.875rem );
    }
}

@supports not (margin-top: clamp( 2rem , 1.7177419355rem  +  1.4112903226vw , 2.875rem )) {
    ._user-content h1,
    ._user-content h2,
    ._user-content h3,
    ._user-content h4,
    ._user-content h5,
    ._user-content h6 {
      margin-top: calc(2rem + 0.875 * (100vw - 20rem) / 62);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8346774194rem  +  0.2016129032vw , 1rem )) {
    ._user-content p {
      font-size: clamp( 0.875rem , 0.8346774194rem  +  0.2016129032vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8346774194rem  +  0.2016129032vw , 1rem )) {
    ._user-content p {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 62);
    }
}

@supports (margin-top: clamp( 0.75rem , 0.689516129rem  +  0.3024193548vw , 0.9375rem )) {
    ._user-content p {
      margin-top: clamp( 0.75rem , 0.689516129rem  +  0.3024193548vw , 0.9375rem );
    }
}

@supports not (margin-top: clamp( 0.75rem , 0.689516129rem  +  0.3024193548vw , 0.9375rem )) {
    ._user-content p {
      margin-top: calc(0.75rem + 0.1875 * (100vw - 20rem) / 62);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.8467741935rem  +  2.0161290323vw , 2.5rem )) {
    .header {
      padding-top: clamp( 1.25rem , 0.8467741935rem  +  2.0161290323vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.8467741935rem  +  2.0161290323vw , 2.5rem )) {
    .header {
      padding-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 62);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.8467741935rem  +  2.0161290323vw , 2.5rem )) {
    .header {
      padding-bottom: clamp( 1.25rem , 0.8467741935rem  +  2.0161290323vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.8467741935rem  +  2.0161290323vw , 2.5rem )) {
    .header {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 62);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.0302419355rem  +  4.5362903226vw , 3.75rem )) or (column-gap: clamp( 0.9375rem , 0.0302419355rem  +  4.5362903226vw , 3.75rem ))) {
    .header__container {
      -webkit-column-gap: clamp( 0.9375rem , 0.0302419355rem  +  4.5362903226vw , 3.75rem );
         -moz-column-gap: clamp( 0.9375rem , 0.0302419355rem  +  4.5362903226vw , 3.75rem );
              column-gap: clamp( 0.9375rem , 0.0302419355rem  +  4.5362903226vw , 3.75rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.0302419355rem  +  4.5362903226vw , 3.75rem )) or (column-gap: clamp( 0.9375rem , 0.0302419355rem  +  4.5362903226vw , 3.75rem ))) {
    .header__container {
      -webkit-column-gap: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 62);
         -moz-column-gap: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 62);
              column-gap: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 62);
    }
}

@supports (width: clamp( 6.5rem , 6.0362903226rem  +  2.3185483871vw , 7.9375rem )) {
    .header__logo img {
      width: clamp( 6.5rem , 6.0362903226rem  +  2.3185483871vw , 7.9375rem );
    }
}

@supports not (width: clamp( 6.5rem , 6.0362903226rem  +  2.3185483871vw , 7.9375rem )) {
    .header__logo img {
      width: calc(6.5rem + 1.4375 * (100vw - 20rem) / 62);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.4334677419rem  +  2.5201612903vw , 2.5rem )) {
    .footer {
      padding-bottom: clamp( 0.9375rem , 0.4334677419rem  +  2.5201612903vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.4334677419rem  +  2.5201612903vw , 2.5rem )) {
    .footer {
      padding-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 62);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6693548387rem  +  0.4032258065vw , 1rem )) {
    .footer__policy {
      font-size: clamp( 0.75rem , 0.6693548387rem  +  0.4032258065vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6693548387rem  +  0.4032258065vw , 1rem )) {
    .footer__policy {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 62);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.5846774194rem  +  6.4516129032vw , 5.875rem )) {
    .start__content {
      padding-bottom: clamp( 1.875rem , 0.5846774194rem  +  6.4516129032vw , 5.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.5846774194rem  +  6.4516129032vw , 5.875rem )) {
    .start__content {
      padding-bottom: calc(1.875rem + 4 * (100vw - 20rem) / 62);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.3306451613rem  +  2.7217741935vw , 3.5625rem )) {
    .start__content {
      padding-top: clamp( 1.875rem , 1.3306451613rem  +  2.7217741935vw , 3.5625rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.3306451613rem  +  2.7217741935vw , 3.5625rem )) {
    .start__content {
      padding-top: calc(1.875rem + 1.6875 * (100vw - 20rem) / 62);
    }
}

@supports (padding-left: clamp( 0.6875rem , -0.4415322581rem  +  5.6451612903vw , 4.1875rem )) {
    .start__button {
      padding-left: clamp( 0.6875rem , -0.4415322581rem  +  5.6451612903vw , 4.1875rem );
    }
}

@supports not (padding-left: clamp( 0.6875rem , -0.4415322581rem  +  5.6451612903vw , 4.1875rem )) {
    .start__button {
      padding-left: calc(0.6875rem + 3.5 * (100vw - 20rem) / 62);
    }
}

@supports (width: clamp( 8.125rem , 7.0161290323rem  +  5.5443548387vw , 11.5625rem )) {
    .start__button::before {
      width: clamp( 8.125rem , 7.0161290323rem  +  5.5443548387vw , 11.5625rem );
    }
}

@supports not (width: clamp( 8.125rem , 7.0161290323rem  +  5.5443548387vw , 11.5625rem )) {
    .start__button::before {
      width: calc(8.125rem + 3.4375 * (100vw - 20rem) / 62);
    }
}

@supports (height: clamp( 0.9375rem , 0.8568548387rem  +  0.4032258065vw , 1.1875rem )) {
    .start__button::before {
      height: clamp( 0.9375rem , 0.8568548387rem  +  0.4032258065vw , 1.1875rem );
    }
}

@supports not (height: clamp( 0.9375rem , 0.8568548387rem  +  0.4032258065vw , 1.1875rem )) {
    .start__button::before {
      height: calc(0.9375rem + 0.25 * (100vw - 20rem) / 62);
    }
}

@supports (width: clamp( 3.125rem , 2.4193548387rem  +  3.5282258065vw , 5.3125rem )) {
    .start__button-arrow {
      width: clamp( 3.125rem , 2.4193548387rem  +  3.5282258065vw , 5.3125rem );
    }
}

@supports not (width: clamp( 3.125rem , 2.4193548387rem  +  3.5282258065vw , 5.3125rem )) {
    .start__button-arrow {
      width: calc(3.125rem + 2.1875 * (100vw - 20rem) / 62);
    }
}

@supports (height: clamp( 3.125rem , 2.4193548387rem  +  3.5282258065vw , 5.3125rem )) {
    .start__button-arrow {
      height: clamp( 3.125rem , 2.4193548387rem  +  3.5282258065vw , 5.3125rem );
    }
}

@supports not (height: clamp( 3.125rem , 2.4193548387rem  +  3.5282258065vw , 5.3125rem )) {
    .start__button-arrow {
      height: calc(3.125rem + 2.1875 * (100vw - 20rem) / 62);
    }
}

@supports (width: clamp( 0.9375rem , 0.6350806452rem  +  1.5120967742vw , 1.875rem )) {
    .start__button-arrow::before {
      width: clamp( 0.9375rem , 0.6350806452rem  +  1.5120967742vw , 1.875rem );
    }
}

@supports not (width: clamp( 0.9375rem , 0.6350806452rem  +  1.5120967742vw , 1.875rem )) {
    .start__button-arrow::before {
      width: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 62);
    }
}

@supports (height: clamp( 0.9375rem , 0.6350806452rem  +  1.5120967742vw , 1.875rem )) {
    .start__button-arrow::before {
      height: clamp( 0.9375rem , 0.6350806452rem  +  1.5120967742vw , 1.875rem );
    }
}

@supports not (height: clamp( 0.9375rem , 0.6350806452rem  +  1.5120967742vw , 1.875rem )) {
    .start__button-arrow::before {
      height: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 62);
    }
}

@supports (border-radius: clamp( 0.875rem , 0.6733870968rem  +  1.0080645161vw , 1.5rem )) {
    .create-account__body {
      border-radius: clamp( 0.875rem , 0.6733870968rem  +  1.0080645161vw , 1.5rem );
    }
}

@supports not (border-radius: clamp( 0.875rem , 0.6733870968rem  +  1.0080645161vw , 1.5rem )) {
    .create-account__body {
      border-radius: calc(0.875rem + 0.625 * (100vw - 20rem) / 62);
    }
}

@supports (padding-top: clamp( 2.1875rem , 1.7439516129rem  +  2.2177419355vw , 3.5625rem )) {
    .create-account__form {
      padding-top: clamp( 2.1875rem , 1.7439516129rem  +  2.2177419355vw , 3.5625rem );
    }
}

@supports not (padding-top: clamp( 2.1875rem , 1.7439516129rem  +  2.2177419355vw , 3.5625rem )) {
    .create-account__form {
      padding-top: calc(2.1875rem + 1.375 * (100vw - 20rem) / 62);
    }
}

@supports (padding-bottom: clamp( 2.1875rem , 1.7439516129rem  +  2.2177419355vw , 3.5625rem )) {
    .create-account__form {
      padding-bottom: clamp( 2.1875rem , 1.7439516129rem  +  2.2177419355vw , 3.5625rem );
    }
}

@supports not (padding-bottom: clamp( 2.1875rem , 1.7439516129rem  +  2.2177419355vw , 3.5625rem )) {
    .create-account__form {
      padding-bottom: calc(2.1875rem + 1.375 * (100vw - 20rem) / 62);
    }
}

@supports (padding-left: clamp( 1.5rem , 0.8346774194rem  +  3.3266129032vw , 3.5625rem )) {
    .create-account__form {
      padding-left: clamp( 1.5rem , 0.8346774194rem  +  3.3266129032vw , 3.5625rem );
    }
}

@supports not (padding-left: clamp( 1.5rem , 0.8346774194rem  +  3.3266129032vw , 3.5625rem )) {
    .create-account__form {
      padding-left: calc(1.5rem + 2.0625 * (100vw - 20rem) / 62);
    }
}

@supports (padding-right: clamp( 1.5rem , 0.8346774194rem  +  3.3266129032vw , 3.5625rem )) {
    .create-account__form {
      padding-right: clamp( 1.5rem , 0.8346774194rem  +  3.3266129032vw , 3.5625rem );
    }
}

@supports not (padding-right: clamp( 1.5rem , 0.8346774194rem  +  3.3266129032vw , 3.5625rem )) {
    .create-account__form {
      padding-right: calc(1.5rem + 2.0625 * (100vw - 20rem) / 62);
    }
}

@supports (font-size: clamp( 0.75rem , 0.7096774194rem  +  0.2016129032vw , 0.875rem )) {
    .create-account__subtitle {
      font-size: clamp( 0.75rem , 0.7096774194rem  +  0.2016129032vw , 0.875rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.7096774194rem  +  0.2016129032vw , 0.875rem )) {
    .create-account__subtitle {
      font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 62);
    }
}

@supports (margin-bottom: clamp( 1.125rem , 1.0443548387rem  +  0.4032258065vw , 1.375rem )) {
    .create-account__input {
      margin-bottom: clamp( 1.125rem , 1.0443548387rem  +  0.4032258065vw , 1.375rem );
    }
}

@supports not (margin-bottom: clamp( 1.125rem , 1.0443548387rem  +  0.4032258065vw , 1.375rem )) {
    .create-account__input {
      margin-bottom: calc(1.125rem + 0.25 * (100vw - 20rem) / 62);
    }
}

@supports (font-size: clamp( 0.75rem , 0.7096774194rem  +  0.2016129032vw , 0.875rem )) {
    .create-account__label {
      font-size: clamp( 0.75rem , 0.7096774194rem  +  0.2016129032vw , 0.875rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.7096774194rem  +  0.2016129032vw , 0.875rem )) {
    .create-account__label {
      font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 62);
    }
}

@supports (min-height: clamp( 2.1875rem , 2.0866935484rem  +  0.5040322581vw , 2.5rem )) {
    .create-account__submit {
      min-height: clamp( 2.1875rem , 2.0866935484rem  +  0.5040322581vw , 2.5rem );
    }
}

@supports not (min-height: clamp( 2.1875rem , 2.0866935484rem  +  0.5040322581vw , 2.5rem )) {
    .create-account__submit {
      min-height: calc(2.1875rem + 0.3125 * (100vw - 20rem) / 62);
    }
}

@supports (font-size: clamp( 0.75rem , 0.7096774194rem  +  0.2016129032vw , 0.875rem )) {
    .create-account__submit {
      font-size: clamp( 0.75rem , 0.7096774194rem  +  0.2016129032vw , 0.875rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.7096774194rem  +  0.2016129032vw , 0.875rem )) {
    .create-account__submit {
      font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 62);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.7963709677rem  +  0.7056451613vw , 1.375rem )) {
    .create-account__submit {
      margin-bottom: clamp( 0.9375rem , 0.7963709677rem  +  0.7056451613vw , 1.375rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.7963709677rem  +  0.7056451613vw , 1.375rem )) {
    .create-account__submit {
      margin-bottom: calc(0.9375rem + 0.4375 * (100vw - 20rem) / 62);
    }
}

@supports (font-size: clamp( 0.75rem , 0.7096774194rem  +  0.2016129032vw , 0.875rem )) {
    .create-account__lead {
      font-size: clamp( 0.75rem , 0.7096774194rem  +  0.2016129032vw , 0.875rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.7096774194rem  +  0.2016129032vw , 0.875rem )) {
    .create-account__lead {
      font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 62);
    }
}

@supports (margin-top: clamp( 1.25rem , 0.685483871rem  +  2.8225806452vw , 3rem )) {
    .policy {
      margin-top: clamp( 1.25rem , 0.685483871rem  +  2.8225806452vw , 3rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , 0.685483871rem  +  2.8225806452vw , 3rem )) {
    .policy {
      margin-top: calc(1.25rem + 1.75 * (100vw - 20rem) / 62);
    }
}

@supports (margin-bottom: clamp( 3.75rem , 2.6612903226rem  +  5.4435483871vw , 7.125rem )) {
    .policy {
      margin-bottom: clamp( 3.75rem , 2.6612903226rem  +  5.4435483871vw , 7.125rem );
    }
}

@supports not (margin-bottom: clamp( 3.75rem , 2.6612903226rem  +  5.4435483871vw , 7.125rem )) {
    .policy {
      margin-bottom: calc(3.75rem + 3.375 * (100vw - 20rem) / 62);
    }
}

@supports (font-size: clamp( 2rem , 1.7983870968rem  +  1.0080645161vw , 2.625rem )) {
    .policy__title {
      font-size: clamp( 2rem , 1.7983870968rem  +  1.0080645161vw , 2.625rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.7983870968rem  +  1.0080645161vw , 2.625rem )) {
    .policy__title {
      font-size: calc(2rem + 0.625 * (100vw - 20rem) / 62);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6693548387rem  +  0.4032258065vw , 1rem )) {
    .policy__subtitle {
      font-size: clamp( 0.75rem , 0.6693548387rem  +  0.4032258065vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6693548387rem  +  0.4032258065vw , 1rem )) {
    .policy__subtitle {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 62);
    }
}
}